.plp {
  background-color: #000;

  .plp-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-family: "Rubik", sans-serif;

    .plp-content {
      display: flex;
      flex-direction: column;
    }
    .plp-product {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    nav {
      border: 2px solid rgb(0, 172, 225);
      border-radius: 10px;
      margin-top: 20px;

      .pagination {
        .page-change {
          button {
            padding: 3px 25px;
            font-family: "Rubik", sans-serif;
            border: 1px solid transparent;
            background-color: #000;
            color: #fff;
            cursor: pointer;
            font-size: 17px;
          }
        }

        .number-page {
          color: #fff;
          font-size: 17px;
          align-self: center;
        }
      }
    }
  }
}
