* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filter-container {
  display: flex;
  flex-direction: column;
  flex: 0 0 250px;
  max-height: 350px;
  border: 2px solid rgb(0, 172, 225);
  border-radius: 10px;
  background-color: #111;
  color: #fff;
  margin-right: 20px;

  .filter-content {
    padding: 15px 15px;

    div {
      display: flex;
      flex-direction: column;

      h4 {
        margin-bottom: 15px;
      }

      form {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 10px;
          cursor: pointer;

          span {
            margin-left: 7px;
          }

          .active {
            background-color: rgb(178, 187, 0);
            border: 1px solid #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .filter-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(0, 172, 225);
    border-radius: 10px;
    background-color: #111;
    color: #fff;
    margin-right: 20px;
  }
}
